<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
    <style>
        form {
            max-width: 300px;
            margin: auto;
        }

        label, input {
            display: block;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
<h2><p style="text-align: center;"><b>Добавить нового пользователя</b></h2>
<br>
<form th:method="POST" th:action="@{/admin/add}" th:object="${user}">
    <label for="name">Имя пользователя: </label>
    <input type="text" th:field="*{username}" id="name"/>
    <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" style="color:red;">Name is not correct</div>

    <label for="name">Пароль: </label>
    <input type="password" th:field="*{password}" id="password"/>
    <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color:red;">Password is not correct</div>

    <input type="submit" value="Добавить"/>
</form>
<form th:action="@{/admin/users}" method="GET">
    <input type="submit" value="Вернуться к списку пользователей"/>
</form>
</body>
</html>